  *{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container{
  margin-top: 30px;
}


/* navbar */
  .nav-link.current {
      color: rgb(255, 255, 2);
  }

.navbar {
  background-color: black;
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  z-index: 1;


}


.navbar img {
  height: 80px; 
  margin-right: 10px; 
}

  
.slogan {
  font-size: 25pt; 
  flex-basis: 100%; 
  text-align: center;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

}

.navbar ul li {
  margin-left: 10px; 
  padding: 10px;

}

.navbar ul li a {
  padding-right: 30px;
  color: white;
  text-decoration: none;
  font-size: 20pt;
}



  /* home */

  .wrapper {
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 100px 0 100px;
    height: 100vh; 
  }

  .box {
    flex: 1;
    padding: 10px;
    /* width: 100px; */
    margin: 0px 50px 200px 50px;
    text-align: left;
  }

.box h1{
  color: white;
  font-weight: bold;
  font-size: 50pt;
  padding-bottom: 20px;
}

.box p{
  color: rgb(255, 255, 255);
  font-size: 20pt;

}

.section{
 
  position: absolute;
  bottom: 0; 
  left: 0; 
  width: 90%;
  height: 300px;
}

.box .btn-group a{
  background-color: rgb(255, 255, 4); 
  color: black; 
  padding: 15px 25px 15px 25px;
  font-size: 15pt;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

.box .btn-group a:hover{
  text-decoration: none;
  
}


  /* Userlist */

.verified{
  color: green;
}


.not-verified{
  color: red;
}
/* calendar */

.calendar-wrapper .container #calendar{
  margin: 50px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
} 

.calendar-wrapper .container{
  padding: 10px;
}

.calendar-wrapper{
  background-size: cover; 
  background-repeat: no-repeat;
  width: 100%;
}
.content-wrapper img {
  display: none; 
}

/* Mobile */

@media (max-width: 1000px) {

  /* calendar */

  .calendar-wrapper .container #calendar{
    margin: auto;
  } 
  
  .calendar-wrapper .container{
    padding: 10px;
  }
  
  .calendar-wrapper{
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
  }

  /* table */
  .table thead {
    display: none; 
  }
  .table tbody td, .table tbody th {
    display: block; 
    text-align: left; 
  }
  .table tbody td:before {
    content: attr(data-label); 
    font-weight: bold;
    display: block;
    margin-bottom: 5px; 
  }
/* nav */
  .navbar .slogan {
    font-size: 11pt; 
    flex-basis: 100%; 
    text-align: center;
  }

  .btn-group a{
    text-decoration: none;
  }
  .navbar ul li a {
      font-size: 17pt;
    }

  .navbar img {
    height: 80px; 
    margin-right: 10px; 
  }

  
  /* homepage */
  .content-wrapper{
    /* height: 50%; */
    min-width: 400px;
    background-size: cover; 

  }
  .content-wrapper img {
    display: block;
    max-width: 100%; 
    height: auto; 
  }
    .wrapper {
      background-color: black;
      max-width: 900px;
      margin: 0 auto; 
      padding: 40px !important; 
      background-image: none;
      flex-direction: column;
      
    }
      
    .box {
      padding: 5px;
      height: 200px !important;
      width: 100%;
      max-width: 600px; 
      margin: 20px auto; 
      text-align: center !important; 
      background-color: #000000; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
   
  
    .wrapper .box h1 {
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-size: 22pt;
      padding-bottom: 10px; 
    }
  
    .wrapper .box p {
      color: rgb(255, 255, 255); 
      font-size: 14pt;
      margin-bottom: 20px; 
    }
  }
  

