  *{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* navbar */
.navbar {
  background-color: black;
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;

}

.navbar img {
  height: 40px; 
  margin-right: 10px; 
}

.navbar .slogan {
  font-size: 25pt; 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 10px; 
}

.navbar ul li a {
  padding-right: 30px;
  color: white;
  text-decoration: none;
  font-size: 16pt;
}

/* Media Query für größere Bildschirme */
@media (min-width: 1200px) {
  .navbar .slogan {
    font-size: 30pt;
    font-weight: bold;
  }
  
  .navbar ul li a {
    font-size: 17pt;
  }
}



  /* home */


  .wrapper {
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 100px 0 100px;
    height: 100vh; /* Höhe auf 100% der Bildschirmhöhe setzen */
  }

  .box {
    flex: 1;
    padding: 10px;
    width: 100px;
    margin: 0px 50px 200px 50px;
    text-align: left;
  }

.box h1{
  color: white;
  font-weight: bold;
  font-size: 50pt;
  padding-bottom: 20px;
}

.box p{
  color: rgb(255, 255, 255);
  font-size: 20pt;

}

.section{
 
  position: absolute;
  bottom: 0; 
  left: 0; 
  width: 90%;
  height: 300px;
}

.box .btn-group a{
  background-color: rgb(235, 235, 2); 
  color: black; 
  padding: 15px 25px 15px 25px;
  font-size: 15pt;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

.box .btn-group a:hover{
  text-decoration: none;
  
}



  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
    }
  }



/* calendar */

.calendar-wrapper .container #calendar{
  margin: 50px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
} 

.calendar-wrapper .container{
  padding: 10px;
}

.calendar-wrapper{
  background-size: cover; 
  background-repeat: no-repeat;
  width: 100%;
}